1. SPA JS Excel' application:
- webpack
    -> babel +
    -> scss +
    -> eslint
    -> dev/prod modes +
        dev: dev server, sourceMaps, non minified code +
        prod: minified code +
- git
    -> production version
    -> development version
