@import "variables";

@mixin button($color: green, $size: 24px, $padding: 3px) {
  height: $size;
  min-width: $size;
  padding: $padding;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  user-select: none;

  & > i {
    font-size: $size - $padding*2;
  }

  &:active, &.active  {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

@mixin spacer() {
  height: 24px;
  min-width: 1px;
  width: 1px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;

  display: inline-block;
  background: $border-color

}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}
