$header-height: 34px;
$border-color: #b0b0b0;

$toolbar-height: 40px;

$formula-height: 34px;
$formula-top: $header-height + $toolbar-height;

$info-cell-width: 40px;

$table-top: $header-height + $toolbar-height + $formula-height;
$row-height: 24px;

$cell-width: 100px;
$cell-color: #e0e0e0;
$cell-bg-color-hover: #f8f9fa;

$info-bg-color: #f8f9fa;
$info-bg-color-hover: #d8d9da;
$info-bg-color-selected: #a8a9aa;

$dash-board-header-height: 64px;

$primary-color: #3c74ff;
