@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $table-top;
  overflow-x: auto;
  padding-bottom: 2px;
  user-select: none;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-data {
    display: flex;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background: $info-bg-color;

    &:hover {
      background: $info-bg-color-hover;
      opacity: 1;
    }

    &:hover::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      left: 0;
      z-index: -1;

      background: $info-bg-color-selected;
      opacity: 0.1;
    }
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    background: $info-bg-color;

    &:hover {
      background: $info-bg-color-hover;
      opacity: 1;
    }

    &:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      z-index: -1;

      background: $info-bg-color-selected;
      opacity: 0.1;
    }
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    border: 1px solid $cell-color;
    border-top: none;
    border-left: none;
    height: 100%;
    white-space: nowrap;
    outline: none;


    &.selected {
      //border: none;
      outline: 1px solid $primary-color;
      //outline: 2px solid red;
      border: 1px solid $primary-color;
      background: $cell-bg-color-hover;
      z-index: 1;
    }

    &:hover {
      background: $cell-bg-color-hover;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    background: $primary-color;
    opacity: 0;
    z-index: 2;

    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    bottom: 0;
    right: -2px;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }

    &:hover::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100vh;
      left: 1px;
      background: $primary-color;
    }
  }

  .row-resize {
    left: 0;
    right: 0;
    bottom: -2px;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }

    &:hover::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      top: 1px;
      background: $primary-color;
    }

  }


}
